.box {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.box input, .box select {
	background-color: #e1eedd;
}

.box input[type=submit] {
	background-color: #183a1d;
	color: white;
	width: 40%;
	float: right;
	margin: 1em auto;
	padding: 0.5em;
	transition: opacity 0.25s, transform 0.25s;
	opacity: 1;
	border-radius: 1em;
	transform: scale(1);
}

.box input[type=submit]:hover {
	transition: 0.25s;
	opacity: 0.75;
	cursor: pointer;
	transform: scale(1.1);
}

.box input[type=text], .box input[type=password], .box input[type=tel], .box input[type=email], .box select,
.box input[type=number] {
	width: 100%;
	margin: 1em auto;
	padding: 0.5em;
}

.box select {
	border: none;
}